// Store configs for pipeline execution here
params {
   input = '/projects/b1042/GoyalLab/egrody/20240925_LD02/scripts/nf_sampleSheet.csv'
   outdir = '/projects/b1042/GoyalLab/egrody/20240925_LD02/analysis/nf-core/'
   gtf = '/projects/b1042/GoyalLab/egrody/genomes/GRCh38/refdata-gex-GRCh38-2024-A/genes/genes.gtf'
   fasta = '/projects/b1042/GoyalLab/egrody/genomes/GRCh38/refdata-gex-GRCh38-2024-A/fasta/genome.fa'
}
profiles {
   cluster {
       process.executor = 'slurm'
       executor.queueSize = 10     // Specify size of queue
       process.cpu = '20'          // --cpus-per-task
       process.memory = '100 GB'   // Memory limit for each job
       process.queue = 'genomics'  // Equivalent to --partition
       process.clusterOptions = '--account=b1042'      // Specify account
   }
   singularity {
       singularity.enabled = true
       singularity.cacheDir = '.singularity_cache' // Singularity images cache
   }
}
